# Node.js
node_modules/

# Build files
build/
dist/

# Editor and IDE files
.vscode/
.idea/

# Compiled output
*.log
*.bak
*.swp

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency lock files
yarn.lock
package-lock.json

# macOS
.DS_Store

# Windows
Thumbs.db

# IDE-specific files
*.iml
